<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>{% block title %}Страница{% endblock %}</title>
</head>
<body>
    <section class="container">

        <h1>{% block form_title %}Заголовок{% endblock %}</h1>

        <div class="container">
            <form action="" method="post" id="form">
                {% csrf_token %}

                {% for field in form %}
                    <div class="mb-3">
                        {{ field.label_tag }} {{ field }}
                        {% if field.errors %}
                            <div style="color: red">
                                {% for error in field.errors %}
                                    {{ error }}
                                    <br/>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% block buttons %}
                <form method="get">
                    {{ form }}
                    <input type="submit" value="Submit">
                </form>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                {% endblock %}
            </form>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>