<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>rental_terms</title>
</head>
<body>
<article style="margin: 2em" class="rental_terms_text">
    <h1>
        Условия проката «Рассвет»
    </h1>
    <h5>
        г. Санкт-петербург 15 августа 2022 год<br>
        Самозанятый Гришаев Андрей Константинович, именуемый в дальнейшем «Арендодатель»,
        предоставляет физическому лицу, именуемому в дальнейшем «Арендатор»,
        спортивное оборудование за плату во временное владение и пользование.
    </h5>

    <h3>
        1. Условия проката и депозит
    </h3>
    <h5>
        1.1 Клиентом проката может стать гражданин РФ старше 18 лет, принимающий данные правила проката спортивного.<br>
        1.2 При передаче спортивного оборудования Арендатору в качестве депозита Арендатор вносит денежные средства в
        сумме 1 000 ₽, которые после окончания срока проката Арендодатель обязан вернуть Арендатору за вычетом платы за
        дополнительное время и расходов на ремонт спортивного оборудования.<br>
        1.3 При использовании спортивного оборудования Арендатор должен соблюдать правила его эксплуатации, технику
        безопасности, а также следовать всем указаниям инструктора.
    </h5>
    <h3>
        2. Бронирование спортивного оборудования
    </h3>
    <h5>
        2.1 Клиент имеет возможность забронировать спортивное оборудование на сайте, по номеру телефона: 89992318209 или
        при личной встрече
    </h5>
    <h3>
        3. Стоимость услуг проката
    </h3>
    <h5>
        5.1 Факт передачи Арендатору спортивного оборудования означает его согласие с настоящими условиями проката и
        заключением договора проката
    </h5>
    <h3>
        6. Получение спортивного оборудования
    </h3>
    <h5>
        6.1 При получении спортивного оборудования Арендатор обязан проверить спортивное оборудование в присутствии
        сотрудника проката:<br>
        6.1.1 Соответствие фактически получаемого спортивное оборудование и его комплектующих, указанных в брони на
        прокат.<br>
        6.1.2 Внешний вид и работоспособность спортивного оборудования.<br>
        6.2 В случае обнаружения каких-либо дефектов, работник проката обязан внести их в квитанцию.<br>
        6.3 Работник проката имеет право сфотографировать Арендатора
    </h5>
    <h3>
        7. Возврат спортивное оборудование
    </h3>
    <h5>
        7.1 Арендатор обязан вернуть спортивное оборудование в том же состоянии, в котором он его получил в пункте
        проката в момент выдачи.<br>
        7.2 При обнаружении поломок или недостачи аксессуаров работник проката составляет дефектный акт.<br>
        7.3 Арендатор обязан возместить расходы на ремонт спортивное оборудование или выплатить полную его стоимость,
        если он не подлежит восстановлению.
    </h5>
    <h3>
        8. Возмещение ущерба
    </h3>
    <h5>
        8.1 Арендатор несет полную материальную ответственность за сохранность арендуемого спортивного оборудования.<br>
        8.2 В случае утери спортивного оборудования или его комплектующих Арендатор обязан возместить их стоимость в
        течение десяти дней с момента обнаружения утери.
    </h5>
    <h3>
        9. Реквизиты Арендодателя:
    </h3>
    <h5>
        <!--Адрес регистрации: г. Санкт-Петербург ул. Композиторов 18<br>-->
        Адрес проката: Ленинградская область оз. Большое Симагинское<br>
        Телефон: 89992318209<br>
        Банковские реквизиты: 5536 9140 6825 8106<br>

    </h5>
</article>
</body>
</html>